<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Resume</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/animations")
    @Styles.Render("~/Content/custom")

    @RenderSection("styles", required: false)
</head>

<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-3">
                <div class="bs-component">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                @Html.MenuLink("About", "Index", "Home")
                                @Html.MenuLink("Experience", "Experience", "Home")
                                @Html.MenuLink("Projects", "Projects", "Home")
                                @Html.MenuLink("Education", "Education", "Home")
                                @Html.MenuLink("Skills", "Skills", "Home")
                                @Html.MenuLink("Courses", "Courses", "Home")
                                @Html.MenuLink("Certifications", "Certifications", "Home")
                                @*@Html.MenuLink("Recommendations", "Recommendations", "Home")*@
                                @*@Html.MenuLink("Blog", "Index", "Blog")*@
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="~/Contacts/Index" class="btn btn-primary btn-block">Contact Me</a>
            </div>
            <div class="col-md-9 panel panel-default animated fadeInUp">
                @RenderBody()
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted text-center">Made By <a href="https://github.com/d-kostov-dev">Dimitar Kostov</a> | Powered By <a href="http://www.asp.net/mvc">ASP.NET MVC</a> </p>
                </div>
                <div class="col-md-6">
                    <p class="text-muted text-center">Beta Version</p>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
